<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">My App</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center">
	<div fxFlex="80%">
		<mat-card>
			<mat-card-title>Upload Zip Files</mat-card-title>
			<hr>
			<mat-card-content fxLayout="row" fxLayoutAlign="center center">
				<app-upload fxFlex="50%" [title]="'Noeud Zip'" [path]="'noeud'"></app-upload>
				<app-upload fxFlex="50%" [title]="'Cheminement Zip'" [path]="'cheminement'"></app-upload>
			</mat-card-content>
			<br>
			<br>
			<app-select-shape></app-select-shape>
			<app-map></app-map>
			<div *ngIf="(shapeEngine.result | async)?.map">
				<mat-tab-group [dynamicHeight]="true" >
					<mat-tab label="Noeuds">
						<app-noeuds-table></app-noeuds-table>
					</mat-tab>
					<mat-tab label="Cheminements">
						<app-cheminements-table></app-cheminements-table>
					</mat-tab>
					<mat-tab label="Points Techniques">
						<app-point-tech-table></app-point-tech-table>
					</mat-tab>
					<mat-tab label="Sites Techniques">
						<app-site-tech-table></app-site-tech-table>
					</mat-tab>
					<mat-tab label="Adresses">
						<app-adresses-table></app-adresses-table>
					</mat-tab>
					<mat-tab label="EBPs">
						<app-ebp-table></app-ebp-table>
					</mat-tab>
				</mat-tab-group>

				<mat-card-actions fxLayoutAlign="center center">
					<button mat-raised-button color="primary" (click)="process()">
						Lancer
					</button>
					<mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'" [diameter]="40" [strokeWidth]="5" fxFlexOffset="20px" *ngIf="isProcess | async">
					</mat-progress-spinner>
				</mat-card-actions>
			</div>

			<div *ngIf="(shapeEngine.result | async)?.map && (shapeEngine.isSecondStep | async)">
				<mat-tab-group [dynamicHeight]="true" >
					<mat-tab label="Conduites">
						<app-conduites-table></app-conduites-table>
					</mat-tab>
					<mat-tab label="Cond_Chem">
						<app-cond-chems-table></app-cond-chems-table>
					</mat-tab>
					<mat-tab label="Cables">
						<app-cables-table></app-cables-table>
					</mat-tab>
					<mat-tab label="Cablelines">
						<app-cablelines-table></app-cablelines-table>
					</mat-tab>
					<mat-tab label="Cable Conduite">
						<app-cab-conds-table></app-cab-conds-table>
					</mat-tab>
				</mat-tab-group>

				<mat-card-actions fxLayoutAlign="center center">
					<button mat-raised-button color="primary" (click)="insert()">
						Insertion dans la base
					</button>
					<mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'" [diameter]="40" [strokeWidth]="5" fxFlexOffset="20px" *ngIf="isProcess | async">
					</mat-progress-spinner>
				</mat-card-actions>
			</div>
		</mat-card>
	</div>

</div>
